
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
env
code/app/__pycache__
code/__pycache__
code/app/config.py
code/app/db/credentials.csv
*.DS_Store
code/app/upload_temp/*
.flaskenv
.vscode
code/app/.ipynb_checkpoints
*.DS_Store
*/.DS_Store
*/*/.DS_Store
*/.ipynb_checkpoints