
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.env
env
code/app/config.py
code/app/db/credentials.csv
code/app/upload_temp/*
.flaskenv
.vscode
**/__pycache__
**/.DS_Store
**/.ipynb_checkpoints