attrs
blis
catalogue
certifi
chardet
click
cycler
cymem
Flask
Flask-WTF
idna
iniconfig
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
murmurhash
numpy
packaging
pandas
pathy
pdf2image
Pillow
pluggy
preshed
py
pydantic
pyparsing
pytesseract
pytest
python-dateutil
python-dotenv
pytz
requests
six
smart-open
spacy
spacy-legacy
srsly
thinc
toml
tqdm
typer
urllib3
wasabi
Werkzeug
WTForms
