.agency-header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    z-index: 100;
}

.agency-body {
    padding-top: 23rem;
    z-index: 1;
} 


body {
  font-family: "Lato";
  color: #444444;
}


ul {
    display: inline-block;
    text-align:left;    
}        

ul li {
    margin-bottom:1em;
}    

.card-title {
    text-align:left; 
    padding-top: 15px;
    color: #376b69;
}    


.card-text{
    text-align:left; 
    padding-top: 6px;
    padding-bottom: 3px;
    line-height: 2 ;
    
}