.agency-header {
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 2rem;
    z-index: 100;
}

.agency-body {
    padding-top: 23rem;
    z-index: 1;
} 


body {
  font-family: "Lato";
  color: #444444;
}


ul {
    display: inline-block;
    text-align:left;    
}        

ul li {
    margin-bottom:1em;
}    

.card-title {
    text-align:left; 
    padding-top: 15px;
    color: #376b69;
}    


.card-text{
    text-align:left; 
    padding-top: 6px;
    padding-bottom: 3px;
    line-height: 2 ;
    
}


 #mySidenav  a:hover {
    background-color:#474f4f;
  }
.sidenav {
    position: fixed;
    /* left: -80px; */
    transition: 0.3s;
    padding-top: 15px;
    top: 0%;
    width: 100px;
    height: 100%;
    z-index: 1000;
    background-color:  #293030 ;
  }
/*  #user  {
    top: 5rem;
    background-color:  #075958 ;
    font-size: 16px;
    width: 150px;
    padding: 10px;
    } */
 #mySidenav  a{
    position: fixed;
    /* left: -80px; */
    transition: 0.3s;
    width: 100px;
    height: 100%;
    background-color:#293030;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    font-size: 14px;
    color: white;
    box-shadow: lightblue;
    border-radius: 0 5px 5px 0;
    z-index: 1000;
    max-height: 4rem;
    }
 #home  {
    top: 1rem;
    }

 #patients-list  {
    top: 8rem;
    }   
 #find-agency  {
    top: 14rem;
    }   
    