body {
  font-family: "Lato";
  color: #444444;
}


ul{
    display: inline-block;
    text-align:left;    
}        

ul li{
    margin-bottom:1em;
}    

.card-text{
    text-align:left;
    line-height:3;
}    

.card-title{
    text-align:left; 
    padding-top: 20px;
    color: #376b69;
}    


