{% extends "headerbase.html" %}

{% block head %}
{{ super() }}
{% include "ga.html" %}
{% endblock %}

{% block content %}
<br><br>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript">
            function respondRequest(requestId, status) {
              $.post("{{url_for('respond_request')}}", { request_id: requestId, status: status }, function (response) {
                location.reload();
              })
            }
        </script>
    </head>
    <body>
        <center>
        <div class="container">
            <br>
            <div class="header">
                <h3 class="agency-head" style="font-family:arial;color:#094d41"><b>Requests for: {{username|title}}</b></h3>
            </div>
            <br>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for col_name in table_keys %}
                            <th scope="col">{{col_name}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            {% for k in table_keys %}
                                <td>{{patient[k]}}</td>
                            {% endfor %}
                            <td width="5%"><button type="button" class="btn btn-success" onclick="respondRequest({{patient['request_id']}}, 'C');return false;">
                                Confirm
                            </button></td>
                            <td width="5%"><button type="button" class="btn btn-warning" onclick="respondRequest({{patient['request_id']}}, 'D');return false;">
                                Deny
                            </button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
{%endblock%}