<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-200386417-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
      
    gtag('config', 'UA-200386417-1');
  </script>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block content %}{%endblock%}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!--  <link href="assets/img/favicon.png" rel="icon">-->
<!--  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/aos/aos.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
<!--  <link href="assets/css/style.css" rel="stylesheet">-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- =======================================================
  * Template Name: OnePage - v4.3.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Haoma</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="#service">Service</a></li>
          {% if loggedin %}
          <li><a class="getstarted scrollto" href="/logout">Logout</a></li>
          {% else %}
          <li><a class="getstarted scrollto" href="/login">Sign in</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <img src="{{ url_for('static', filename='haoma_logo_only.png') }}" class="img-fluid" alt=""><br>
          <h1>Haoma</h1>
          <h2>RIGHT AT HOME WITH THE RIGHT HOME HEALTH</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class=" ri-folder-user-line"></i></div>
            <h4 class="title"><a href="">Efficiency</a></h4>
            <p class="description">An integrated system that automatically filter only the agencies that are appropriate and personalized to the patient, increasing productivity for hospitals, home health agencies, and insurance providers.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="ri-hand-heart-line"></i></div>
            <h4 class="title"><a href="">Compliance Risk Avoidance</a></h4>
            <p class="description"> A safeguard towards staying in compliance, whereby the only home health agencies chosen are those personally recommended and chosen by the patient. </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon"><i class="ri-database-2-line"></i></div>
            <h4 class="title"><a href="">Improved Patient Outcomes</a></h4>
            <p class="description">Quick, transparent and personaliized recommendations, reducing the odds of rehsopitalization and increasing overall quality care.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Haoma</h2>

        </div>

        <div class="row content">
          <div class="col-lg-6 pt-4 pt-lg-0">
            Our product is an integrated home health referral system aimed to mitigate existing inefficient communication streams, enable a streamlined discharge process, and optimize the time for a patient to get care, as well as the quality. 
            <br><br>
            The system will primarily be a recommendation dashboard for discharge planners to quickly and seamlessly generate home health agency recommendations personalized to the patient, with clear and relevant comparison metrics. The use of real-time readmissions data ensures that the system continues to improve, optimizing for quality patient care.
            <br><br>
            It will also act as a platform where all parties are integrated, having access to the same platform and database to eliminate prior discrepancies. Most of all, it’s a platform enabling patients to get personalized recommendations, faster care, and true transparency.

              
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Haoma is built on the three fundamental pillars:
            <ul>
              <li><i class="ri-check-double-line"></i> Increased Productivity</li>
              <li><i class="ri-check-double-line"></i> Reduced Compliance Risk </li>
              <li><i class="ri-check-double-line"></i> Improved Patient Outcomes</li>
            </ul><br>Check us out on GitHub!
              </p>
            
            <a href="https://github.com/MSDS698/2021-product-analytics-group-project-group_2_haoma" class="btn-learn-more">GitHub</a>
          </div>
        </div>


    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row justify-content-end">

          <div class="col-lg-4 col-md-4 col-4 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="2" class="purecounter"></span>
              <p>Happy Patients</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-4 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="4" class="purecounter"></span>
              <p>Agencies</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-4 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="4" class="purecounter"></span>
              <p>Hospitals</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Counts Section -->

        <!-- ======= Zipcode Section ======= -->
    <section id="zipcode" class="cta">
      <div class="container" data-aos="zoom-in">
        <div class="text-center">
          <a href="{{ url_for('zipcode_search')}}"><h3>Find Home Health Agencies!</h3></a>
          <p> Click above to find home health agencies with ratings in your area!</p>
            

<!--          <div class="form-group">-->
<!--&lt;!&ndash;            <form method="POST"; action="zipcode_search?zipcode='+document.getElementsByName('zipcode')[0].value'">&ndash;&gt;-->
<!--            <form action="{{ url_for('zipcode_search')}}" method="post">-->
<!--              <input name="zipcode" id="zipcode" placeholder="Zip Code" required>-->
<!--              <input type="submit">-->
<!--            </form>-->
          
        </div>
      </div>
    </section><!-- End Cta Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>We are a group of software engineers and data scientists based in University of San Francisco, looking to utilize technology to give data transparency back to public.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/victor.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/victornazlukhanyan/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Victor Nazlukhanyan</h4>
                <span>Co-founder, CEO </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/christabelle.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/christabellecp//"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Christabelle Pabalan</h4>
                <span>Co-founder</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/patrick.png') }}" class="img-fluid" alt="" height="336px">
                <div class="social">
                  <a href="https://www.linkedin.com/in/ppoon23/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Patrick Poon</h4>
                <span>Co-founder</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/nic.png') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/nicolas-decavel-bueff/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Nicolas Decavel-Bueff</h4>
                <span>Co-founder</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/zach.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/zachary-dougherty/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Zachary Dougherty</h4>
                <span>Co-founder</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/noah.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/noahmatsuyoshi/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Noah Matsuyoshi</h4>
                <span>Co-founder</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
            <div class="member">
              <div class="member-img">
                <img src="{{ url_for('static', filename='img/team/grant.jpeg') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://www.linkedin.com/in/grant-e-phillips/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Grant Phillips</h4>
                <span>Co-founder</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How are the recommendations made? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                <p>
                  We begin by filtering out agencies that do not serve the patient's area or do not offer the services the patient requires. Afterwards, the patient's referral chart is used to create a personalized recommendation of the top 20 home health agencies based on curated, personalized metrics. The synthesized score from the personalized metrics is called the Haoma Score. In the future, our recommendation algorithm will use real-time readmissions information to provide a very high quality and personalized recommendation.
                 </p>
               </div>
             </li>
 
             <li data-aos="fade-up" data-aos-delay="100">
               <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> What factors contribute to the Haoma Score? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
               <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                 <p>
 
               The Haoma Score is the rating given to a home health agency particular to each patient. Our system flags certain keywords in the patient pdf and synthesizes general and flagged metrics to create a personalized rating. 
                 </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="service">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Service</h2>
          <p> </p>
        </div>

        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d451171.4560430169!2d-122.02706742049!3d38.66431433305818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808583a3a688d7b5%3A0x8c891b8457461fa9!2sSan%20Francisco%20Bay%20Area%2C%20CA!5e0!3m2!1sen!2sus!4v1622913665804!5m2!1sen!2sus" width=100% height="600" style="border:1;" allowfullscreen="" loading="lazy"></iframe>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Haoma</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/purecounter/purecounter.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>