{% extends "headerbase.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/test.css') }}">

<body>
<center>
    
<div class="container">
    <div class="row">    
        <div class="col-xl-6">
            <div class="card-body">
                <h3 class="align-middle"></h3>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card bg-light mb-3">
              <h5 class="card-header"><b>Personalized Haoma Score for {{patient_name}}</b></h5>
<!--               <h5 class="card-header" style="color:black;background-color:#529c89;opacity: 0.9;
                                             "><b>Haoma Score Personalized for {{patient_name}}</b></h5> -->
            </div>
        </div>
    </div>
</div>
    

<div class="container">
    <div class="row">    
        <div class="col-xl-6">
                <div class="card-body">
                    <h1 class="align-middle" style="font-family:tahoma;color:#376b69"><b>Haoma Compare</b></h1>
                    <h3 class="align-middle">Based on Official Medicare Surveys</h3>
                    <p class="card-text">
                    </p>
                </div>
        </div>
        {% for i in range(num_agencies) %}
        <div class="col-md-2">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="score{{i}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
<div class="container">
    <div class="row">    
        <div class="col-xl">
            <div class="card bg-white mb-3">
              <h5 class="card-header"> . </h5>
            </div>
        </div>
        {% for i in range(num_agencies) %}
        <div class="col-xl">
            <div class="card bg-light mb-3">
              <h5 class="card-header" style="color: {{colors_arr[i]}};">{{name_arr[i][1:-1][0:25].title()}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
<div class="container">
    <div class="row">   
        <div class="col-md-3 d-flex align-items-stretch ">
            <div class="card text-left">
                <div class="card-body">
                    <h5 class="card-title "><b>Managing Daily Activities</b></h5>
                    <h8 class="card-text" style="line-height:2">How often the patient got better at :</h8>
                    <ul>
                        <li>Bathing</li>
                        <li>Getting In and Out of the Bed</li>
                        <li>Walking or Moving Around</li>
                    </ul>
                </div>
            </div>
        </div>
        {% for i in range(num_agencies) %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="manage{{i}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
<div class="container">
    <div class="row">   
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card align-items-left">
                <div class="card-body">
                    <h5 class="card-title align-items-left"><b>Treating Symptoms</b></h5>
                    <ul>
                        <li>How often breathing improved</li>
                        <li>How often wounds improved</li>
                        <li>How often pressure ulcers didn't worsen</li>
                    </ul>
                </div>
            </div>
        </div>
        {% for i in range(num_agencies) %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="symptom{{i}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
<div class="container">
    <div class="row">  
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card card-style mb-3">
                <div class="card-body">
                    <h5 class="card-title"><b></b></h5>
                    <h5 class="card-title"><b>Timely Manner</b></h5>
                    <p class="card-text">
                      How often did the agency begin their patients' care in a timely manner?
                    </p>
                </div>
            </div>
        </div>
        {% for i in range(num_agencies) %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="timely{{i}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
    
<div class="container">
    <div class="row">   
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card card-style mb-3 ">
                <div class="card-body">
                    <h5 class="card-title"><b>Preventable Readmission</b></h5>
                    <p class="card-text">
                     The risk-standardized rate of unplanned, potentially preventable readmissions for
                     patients within 30 days of discharge.
                    </p>
                </div>
            </div>
        </div>
        {% for i in range(num_agencies) %}
        <div class="col-md-3 d-flex align-items-stretch">
            <div class="card card-style mb-2">
                <div class="card-body">
                    <div class="chart-container" style="position: relative;">
                        <canvas id="ppr{{i}}"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    

    
</center>
{% block javascript %}
<script>
    const num_agencies = JSON.parse({{num_agencies | tojson}});
    const name = JSON.parse({{name | tojson}});
    const da = JSON.parse({{da | tojson }});
    const ts = JSON.parse({{ts | tojson }});
    const score = JSON.parse({{score | tojson }});
    const timely = JSON.parse({{timely | tojson }});
    const ppr = JSON.parse({{ppr | tojson }});
    const colors = JSON.parse({{colors | tojson }});
    const bg_colors = JSON.parse({{bg_colors | tojson }});

    for(let i=0; i<num_agencies; i++) {
        const manage_ctx = document.getElementById(`manage${i}`).getContext('2d');
        const symp_ctx = document.getElementById(`symptom${i}`).getContext('2d');
        const score_canvas = document.getElementById(`score${i}`);
        const score_ctx = score_canvas.getContext('2d');
        const timely_canvas = document.getElementById(`timely${i}`);
        const timely_ctx = timely_canvas.getContext('2d');
        const ppr_canvas = document.getElementById(`ppr${i}`)
        const ppr_ctx = ppr_canvas.getContext('2d');

        const ppr_data = {
            labels: [name[i]],
            datasets: [
                {
                    label: `Dataset ${i+1}`,
                    data: ppr[i],
                    backgroundColor: [bg_colors[i], 'rgba(255, 255, 255, 0.8)'],
                }
            ]
        };
        
        const manage_data = {
            labels: ['Bath', 'Bed', 'Move'],
            datasets:[{
                backgroundColor: bg_colors[i],
                data: da[i]
            }]
        };

        const symptom_data = {
            labels: ['Breathing', 'Wounds', 'Skin'],
            datasets:[{
                backgroundColor: bg_colors[i],
                data: ts[i]
            }]
        };

        const score_data = {
          labels: [name[i]],
          datasets: [
            {
              label: `Dataset ${i+1}`,
              data: score[i],
              backgroundColor: [bg_colors[i],
                'rgba(255, 255, 255, 0.8)'],
            }
          ]
        };

        const timely_data = {
          labels: [name[i]],
          datasets: [
            {
              label: `Dataset ${i}`,
              data: timely[i],
              backgroundColor: [bg_colors[i],
                'rgba(255, 255, 255, 0.8)'],
            }
          ]
        };

        let chart = new Chart(ppr_ctx, {
        type: 'doughnut',
        data: ppr_data,
            options: {
                responsive: true,
                animation: {
                    onProgress : function() {
                        const ppr_cx = ppr_canvas.width / 4;
                        const ppr_cy = ppr_canvas.height / 4;
                        ppr_ctx.textAlign = 'center';
                        ppr_ctx.textBaseline = 'middle';
                        ppr_ctx.font = '35px arial';
                        ppr_ctx.fillStyle = 'black';
                        ppr_ctx.fillText(Math.round(ppr[i][0])+"%", ppr_cx, ppr_cy);
                    },
                },
                legend: {
                    display: false,
                },
                title: {
                    display: false,
                    text: 'Timely Manner'
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 50
                    },
                },
                cutoutPercentage: 60,
            },
        });

        chart = new Chart(manage_ctx, {
            type: 'bar',
            data: manage_data, 
            options: {
                scales: {
                    xAxes: [{
                        display: true,
                        barThickness: 30,
                    }],
                    yAxes: [{
                        display: true,
                        barThickness: 5,
                        ticks: {
                            min: 0, // minimum value
                            max: 100 // maximum value
                        },
                    }],
                },
                legend: {
                    display: false
                },
                title: {
                    display: false,
                    text: 'Managing Daily Activities',
                    fontSize: 15,
                    position: 'top'
                }
            }
        });

        chart = new Chart(symp_ctx, {
            type: 'bar',
            data: symptom_data, 
            options: {
                scales: {
                    yAxes: [{
                        display: true,
                        ticks: {
                            min: 0, // minimum value
                            max: 100, // maximum value
                        },
                    }],
                    xAxes: [{
                        display: true,
                        barThickness: 30
                    }],
                },
                legend: {
                    display: false
                },
                title: {
                    display: false,
                    text: 'Managing Daily Activities',
                    fontSize: 30,
                    position: 'top'
                }
            }
        });

        chart = new Chart(score_ctx, {
            type: 'doughnut',
            data: score_data,
            options: {
                responsive: true,
                animation: {
                    onProgress : function() {
                        const cx = score_canvas.width / 4;
                        const cy = score_canvas.height / 3.25;
                        score_ctx.textAlign = 'center';
                        score_ctx.textBaseline = 'middle';
                        score_ctx.font = '35px helvetica';
                        score_ctx.fillStyle = 'black';
                        score_ctx.fillText(Math.round(score[i][0])+"%", cx, cy);
                    },
                },
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: name[i].substring(0, 20)
                },
                layout: {
                    padding: {
                        left: 10,
                        right: 10
                    },
                },
                cutoutPercentage: 60,
            },
        });

        chart = new Chart(timely_ctx, {
            type: 'doughnut',
            data: timely_data,
            options: {
                responsive: true,
                animation: {
                onProgress : function() {
                        const timely_cx = timely_canvas.width / 4;
                        const timely_cy = timely_canvas.height / 4;
                        timely_ctx.textAlign = 'center';
                        timely_ctx.textBaseline = 'middle';
                        timely_ctx.font = '35px arial';
                        timely_ctx.fillStyle = 'black';
                        timely_ctx.fillText(Math.round(timely[i][0])+"%", timely_cx, timely_cy);
                    },
                },
                legend: {
                    display: false
                },
                title: {
                    display: false,
                    text: 'Timely Manner'
                },
                layout: {
                    padding: {
                        left: 50,
                        right: 50
                    },
                },
                cutoutPercentage: 60,
            },
        });
    }

</script>
    
</body>
{% endblock %}
{% endblock %}