{% extends "headerbase.html" %}
{% block content %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript">
            let patientId = null;
            function removePatient() {
              $.post("{{url_for('remove_patient')}}", { id: patientId }, function (response) {
                location.reload();
              })
            }
        </script>
    </head>
    <body>
        <center>
        <div class="container">
            <div class="header">
                <h3 class="text-muted">Patients for {{username}}</h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for col_name in table_names %}
                            <th scope="col">{{col_name}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for patient in patients %}
                        <tr>
                            {% for k in table_keys %}
                                <td>{{patient[k]}}</td>
                            {% endfor %}
                            <td width="5%"><button type="button" class="btn btn-success" onclick="window.location.href = '/patient?id={{patient.id}}';return false;">
                                View
                            </button></td>
                            <td width="5%"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deletePatientModal" 
                                onclick="patientId={{patient['id']}};document.getElementById('deletePatientModalLabel').innerHTML='Delete Patient '+patientId;return false;">
                                <i class="bi bi-trash"></i>
                            </button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#patientUploadModal">
            Add Patient
        </button>

        <!-- Delete patient modal -->
        <div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deletePatientModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deletePatientModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <button class="btn btn-danger" onclick="removePatient();return false;">Delete</button>
              </div>
            </div>
        </div>

        <!-- Upload patient modal -->
        <div class="modal fade" id="patientUploadModal" tabindex="-1" aria-labelledby="patientUploadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="patientUploadModalLabel">Add Patient</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {{patient_upload_form.csrf_token}}
                    <div class="modal-body">
                        <div class="file-upload-wrapper">
                            <div class="mb-3">
                                {{patient_upload_form.first.label}}
                                {{patient_upload_form.first()}}
                            </div>
                            <div class="mb-3">
                                {{patient_upload_form.last.label}}
                                {{patient_upload_form.last()}}
                            </div>

                            <div class="mb-3">
                                {{patient_upload_form.zipcode.label}}
                                {{patient_upload_form.zipcode()}}
                            </div>
                            <div class="mb-3">
                                {{patient_upload_form.service.label}}
                                {{patient_upload_form.service()}}
                            </div>
                            <div class="mb-3">
                                {{patient_upload_form.file.label}}
                                {{patient_upload_form.file()}}
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        {{patient_upload_form.submit()}}
                    </div>
                </form>
              </div>
            </div>
        </div>
    </body>
</html>
{%endblock%}