{% extends "sidebar-user.html" %}

{% block content %}
<br><br>
<html>
    <head>
        {% block header %}
        {{ super() }}
        <script type="text/javascript">
            let patient_id = null;
            function removePatient(idx) {
                $.post("{{url_for('change_rec_status')}}", { status: "R", patient_id: patient_id }, function (response) {
                    location.reload();
                })
            }
        </script>
        {% endblock %}
    </head>
    <body>
    
    </br>
    </br>
        <div class="container">
            <div class="header">
                <h3 class="agency-head" style="font-family:arial;color:#094d41"><b>Patients for: {{username | title}}</b></h3>
            </div>
            <br>
            <ul class="nav nav-tabs" id="status" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active"
                    type="button" role="tab" aria-controls="active" aria-selected="true">Active</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="history-tab" data-bs-toggle="tab" data-bs-target="#history" type="button"
                    role="tab" aria-controls="history" aria-selected="false">History</button>
                </li>
            </ul>
            <div class="tab-content" id="tabContent">
                <!-- Active Pane -->
                <div class="tab-pane active" id="active" role="tabpanel" aria-labelledby="active-tab">
                    <form method="POST">
                        <div class="row">
                            <div class="container col-md-12 compare-table">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% for col_name in table_names %}
                                                <th scope="col">{{col_name}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for patient in active_patients %}
                                            <tr>
                                                {% for k in table_keys %}
                                                    <td>{{patient[k]}}</td>
                                                {% endfor %}
                                                <td width="5%"><button type="button" class="btn btn-success" onclick="window.location.href = '/patient?id={{patient.id}}';return false;">
                                                    View
                                                </button></td>
                                                <td width="5%"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deletePatientModal" 
                                                    onclick="patient_id={{patient['id']}};document.getElementById('deletePatientModalLabel').innerHTML='Delete Patient '+patient_id;return false;">
                                                    <i class="bi bi-trash"></i>
                                                </button></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- History Pane -->
                <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
                    <form method="POST">
                        <div class="row">
                            <div class="container col-md-12 compare-table">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            {% for col_name in table_names %}
                                                <th scope="col">{{col_name}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for patient in history_patients %}
                                            <tr>
                                                {% for k in table_keys %}
                                                    <td>{{patient[k]}}</td>
                                                {% endfor %}
                                                <td width="5%"><button type="button" class="btn btn-success" onclick="window.location.href = '/patient?id={{patient.id}}';return false;">
                                                    View
                                                </button></td>
                                                <td width="5%"><button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#deletePatientModal" 
                                                    onclick="patient_id={{patient['id']}};document.getElementById('deletePatientModalLabel').innerHTML='Delete Patient '+patient_id;return false;">
                                                    <i class="bi bi-trash"></i>
                                                </button></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <center>
            <button id="addPatientButton" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#patientUploadModal">
                Add Patient
            </button>
        </center>

        <!-- Delete patient modal -->
        <div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deletePatientModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deletePatientModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <button class="btn btn-danger" onclick="removePatient(patient_id);return false;">Delete</button>
              </div>
            </div>
        </div>

        <!-- Upload patient modal -->
        <div class="modal fade" id="patientUploadModal" tabindex="-1" aria-labelledby="patientUploadModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="patientUploadModalLabel">Add Patient</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" enctype="multipart/form-data">
                    {{patient_upload_form.csrf_token}}
                    <div class="modal-body">
                        <div class="file-upload-wrapper">
                            <div class="mb-3">
                                {{patient_upload_form.first.label}}
                                {{patient_upload_form.first()}}
                            </div>
                            <div class="mb-3">
                                {{patient_upload_form.last.label}}
                                {{patient_upload_form.last()}}
                            </div>

                            <div class="mb-3">
                                {{patient_upload_form.zipcode.label}}
                                {{patient_upload_form.zipcode()}}
                            </div>
                            <div class="mb-3 no-bullets">
                                {{patient_upload_form.service.label}}
                                {{patient_upload_form.service(style="list-style:none")}}
                            </div>
                            <div class="mb-3">
                                {{patient_upload_form.file.label}}<br>
                                {{patient_upload_form.file()}}
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        {{patient_upload_form.submit(class_="btn btn-success")}}
                    </div>
                </form>
              </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}
