{% extends "headerbase.html" %}

{% block head %}
{{ super() }}
{% include "ga.html" %}
{% endblock %}

{% block content %}
<br><br>
<html>

<head>
  <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
  <script type="text/javascript">
    let patient_id = {{ patient.id }};
    function removeRec(idx) {
      $.post("{{url_for('change_rec_status')}}", { idx: idx, status: "R", patient_id: patient_id }, function (response) {
        location.reload();
      })
    }
    function restoreRec(idx) {
      $.post("{{url_for('change_rec_status')}}", { idx: idx, status: "A", patient_id: patient_id }, function (response) {
        location.reload();
      })
    }
    function requestRec(idx) {
      $.post("{{url_for('request_rec')}}", { idx: idx, patient_id: patient_id }, function (response) {
        location.reload();
      })
    }
  </script>
</head>

<body>
    <div class="container">
      <div class="header"><br>
        <h3 class="text-muted">
            <div>
              <a href="{{ url_for('discharge') }}" class="btn btn-primary">Patients List</a>
            </div>
            <div align="center" style="color:#211F1F;font-size:35px">
                <strong>{{patient.first}}'s recommendations:</strong>
            </div>
            <div align="left" style="color:#211F1F;font-size:22px">
            <br>Below are top 20 agencies for {{patient.first}} that serve <p style="display:inline;color:#376b69"><strong>{{patient.zipcode}}</strong></p> and offer
            {% if specific_services|length == 1 %}
                <p style="display:inline;color:#376b69"><strong>{{specific_services[0]}}</strong></p>.
            {% elif specific_services|length == 2 %}
                <p style="display:inline;color:#376b69"><strong>{{specific_services[0]}}</strong></p> and <p style="display:inline;color:#376b69"><strong>{{specific_services[1]}}</strong></p>.
            {% else %}
                {% for service in specific_services[:-1] %}
                    <p style="display:inline;color:#376b69"><strong>{{service}}</strong></p>,
                {% endfor %}
                    and <p style="display:inline;color:#376b69"><strong>{{specific_services[-1]}}</strong></p>.
            {% endif %}
            </div>
            <br>
          </h3>
      </div>
      <ul class="nav nav-tabs" id="status" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="available-tab" data-bs-toggle="tab" data-bs-target="#available"
            type="button" role="tab" aria-controls="available" aria-selected="true">Available</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="requested-tab" data-bs-toggle="tab" data-bs-target="#requested" type="button"
            role="tab" aria-controls="requested" aria-selected="false">Requested</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="confirmed-tab" data-bs-toggle="tab" data-bs-target="#confirmed" type="button"
            role="tab" aria-controls="confirmed" aria-selected="false">Confirmed</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="denied-tab" data-bs-toggle="tab" data-bs-target="#denied" type="button"
            role="tab" aria-controls="denied" aria-selected="false">Denied</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="removed-tab" data-bs-toggle="tab" data-bs-target="#removed" type="button"
            role="tab" aria-controls="removed" aria-selected="false">Removed</button>
        </li>
      </ul>

      <div class="tab-content" id="tabContent">
        <!-- Available Pane -->
<!--         <form method="POST"> -->
        <!-- Available Pane -->
        <div class="tab-pane active" id="available" role="tabpanel" aria-labelledby="available-tab">
          <form method="POST">
            <div class="row">
              <div class="container col-md-12 compare-table">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      {% for col_name in columns %}
                      <th scope="col">{{col_name}}</th>
                      {% endfor %}
                      <th></th>
                      <th></th>
                      <th class="compare-button"><button type="submit" name="compare" id ="compare-btn" class="btn btn-primary">Compare</button></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in data_available %}
                    <tr>
                      
                      {% for cell in row %}
                      <td class="align-middle">{{cell}}</td>
                      {% endfor %}
                      <td class="align-middle"><button type="button" class="btn btn-success" onclick="requestRec('{{row[0]-1}}');">
                        Request
                      </button></td>
                      <td class="align-middle"><button type="button" class="btn btn-warning" onclick="removeRec('{{row[0]-1}}');">
                        <i class="bi bi-trash"></i>
                      </button></td>
                      <td class="compare-checkbox align-middle"><input type="checkbox" name="{{row[1]}}"></td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- <div class="container col-md-2 compare-button text-center">
                <button type="submit" name="compare" class="btn btn-primary">Compare</button>
              </div> -->
            </div>
          </form>
        </div>
        <!-- Requested Pane -->
        <div class="tab-pane" id="requested" role="tabpanel" aria-labelledby="requested-tab">
          <form method="POST">
            <div class="container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    {% for col_name in columns %}
                    <th scope="col">{{col_name}}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for row in data_requested %}
                  <tr>
                    {% for cell in row %}
                    <td class="align-middle">{{cell}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <!-- Confirmed Pane -->
        <div class="tab-pane" id="confirmed" role="tabpanel" aria-labelledby="confirmed-tab">
          <div class="container">
            <table class="table table-hover">
              <thead>
                <tr>
                  {% for col_name in columns %}
                  <th scope="col">{{col_name}}</th>
                  {% endfor %}
                  <th></th>
                  <th class="compare-button"><button type="submit" name="compare" class="btn btn-primary">Compare</button></th>
                </tr>
              </thead>
              <tbody>
                {% for row in data_confirmed %}
                <tr>
                  {% for cell in row %}
                  <td class="align-middle">{{cell}}</td>
                  {% endfor %}
                  <td></td>
                  <td class="compare-checkbox align-middle"><input type="checkbox" name="{{row[1]}}"></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- Denied Pane -->
        <div class="tab-pane" id="denied" role="tabpanel" aria-labelledby="denied-tab">
          <div class="container">
            <table class="table table-hover">
              <thead>
                <tr>
                  {% for col_name in columns %}
                  <th scope="col">{{col_name}}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in data_denied %}
                <tr>
                  {% for cell in row %}
                  <td class="align-middle">{{cell}}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- Removed Pane -->
        <div class="tab-pane" id="removed" role="tabpanel" aria-labelledby="removed-tab">
          <div class="container">
            <table class="table table-hover">
              <thead>
                <tr>
                  {% for col_name in columns %}
                  <th scope="col">{{col_name}}</th>
                  {% endfor %}
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for row in data_removed %}
                <tr>
                  {% for cell in row %}
                  <td class="align-middle">{{cell}}</td>
                  {% endfor %}
                  <td class="align-middle"><button type="button" class="btn btn-success" style="vertical-align: middle;" onclick="restoreRec('{{row[0]-1}}');">
                    Restore
                  </button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
</body>

</html>
{% endblock %}