{% include "headerbase.html" %}
<head>
    <script src="https://cdn.plot.ly/plotly-2.1.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <h1>Haoma Re-admission Analytics<br><br></h1>
            <div class="col-md-6 align-middle">
                <h2>XYZ Home Health Agency</h2>
            </div>
            <div class="col-md-3 align-middle">
                <p>How often patients were re-admitted to the hospital for a potentially-preventable condition after discharge from home health?</p>
            </div>
            <div class="col-md-3 align-middle text-center">
                <h1 class="display-1">4.3%</h1>
            </div>
        </div>
    </div>

    
    <div class="container col-md-12 border">
        <div class="row">
                {{gender_hist_graph | safe}}
        </div>
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-md-6 d flex border">
                {{age_hist_graph | safe}}
            </div>
            <div class="col-md-6 d flex border">
                {{service_pie_graph | safe}}
            </div>
        </div>
    </div>
</body>