{% include "headerbase.html" %}
{% extends "loginRegisterBase.html" %}

{% block content %}
{{form.csrf_token}}
<h2>Register</h2>
<br>
<h5 class='text' align='left'>Register as a</h5>
{{form.account_type(class="form-control item btn btn-secondary dropdown-toggle")}}
{{form.username(class="form-control item", placeholder='Username')}}
{{form.password(class="form-control item", placeholder='Password')}}
{{form.submit(class="btn btn-block create-account")}}
<div><br><br>
<p>{{"This username already exists!" if user_exists else ""}}</p>
  {{"There are no agencies with that name" if agency_invalid else ""}}
</div>

{%endblock%}
