{% extends "headerbase.html" %}
{% block content %}
<html> 
  <body>
    <center><br><br><br>
    {% if loggedin %}
      <div class="container">
        Already logged in
      </div>
    {% else %}
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Registration</h3>
      </div>

      <div>
        <form method="POST">
            {{form.csrf_token}}
            {{form.username.label}}
            {{form.username()}}
            {{form.password.label}}
            {{form.password()}}
            {{form.submit()}}
        </form>
        <div>
            {{"This username already exists" if user_exists else ""}}
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>

{%endblock%}